
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
table {
  border-collapse: collapse;
}

table th, table td {
  border: solid 1px black;
}

.data-table-title {
  background-color: #3490dc;
  color: #fff;
}

#deleteModalHeader {
  background-color: #e62727;
}

#deleteModalLabel {
  color: #fff;
}