
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#modifyModalHeader {
    background-color: #3490dc;
}
  
#modifyModalLabel {
    color: #fff;
}

#deleteModalHeader {
  background-color: #e62727;
}

#deleteModalLabel {
  color: #fff;
}