#editModalHeader {
  background-color: #3490dc;
}

#editModalLabel {
  color: #fff;
}

#deleteModalHeader {
  background-color: #e62727;
}

#deleteModalLabel {
  color: #fff;
}

#delete-button {
  background-color: #e62727;
}

#createModalHeader {
  background-color: #3490dc;
}

#createModalLabel {
  color: #fff;
}

